.AdminChangeCalc {
    min-height: calc(100vh - 70px - 70px);
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    flex-wrap: wrap;

}

.AdminChangeCalc input {
    cursor: pointer;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 220, 196);
    color: rgb(255, 125, 38);
}

.AdminChangeCalc button {
    cursor: pointer;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 125, 38);
    color: white;
}

.AdminChangeCalc p,
.AdminChangeCalc .to-admin {
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .AdminChangeCalc {
        width: 300px;
    }

    .AdminChangeCalc p,
    .AdminChangeCalc .to-admin {
        font-size: larger;
    }
}

a {
    color: black;
    text-decoration: none;
}